body {
	font: normal 12px/1.5 'Microsoft YaHei';
}
ul, ol {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

.top-nav {
	height: 30px;
	line-height: 30px;
	background: #f2f2f2;
	border-bottom: 1px solid #ededee;
	color: #666;
}
.top-nav li {
	position: relative;
	float: left;
}
.top-nav li>a {
	color: #666;
	padding: 0 14px;
}
.top-nav li a:hover {
	color: #e31436;
	text-decoration: none;
}
.top-nav .app {
	position: relative;
	color: #e31436;
	text-decoration: none;
}
.top-nav .app span:nth-of-type(2) {
	position: absolute;
	top: 30px;
	left: -20px;
	padding: 5px;
	background: #fff;
	border: 1px solid rgba(0,0,0,.25);
	box-shadow: none;
}
.top-nav-right {
	float: right;
}
.top-nav-right a>.caret {
	transition: transform .2s ease-in;
	-webkit-transition: -webkit-transform .2s ease-in;
	-moz-transition: -webkit-transform .2s ease-in;
	-ms-transition: -webkit-transform .2s ease-in;
	-o-transition: -webkit-transform .2s ease-in;
}
.top-nav-right .drop-menu {
	position: absolute;
	top: 30px;
	display: none;
	padding: 4px 15px 12px 14px;
	background: #fff;
    border: 1px solid #e8e8ea;
    border-top: 0;
    z-index: 2;
}
.top-nav-right .drop-menu a {
	display: block;
	color: #666;
	word-wrap: normal;
    white-space: nowrap;
}
.top-nav-right .drop-menu .spliter {
	display: block;
	border-bottom: 1px solid #eaeaea;
	line-height: 0;
	font-size: 0;
}

.top-header {
	height: 100px;
}
.top-header .container {
	position: relative;
}
.top-header .logo {
	display: block;
	width: 100%;
	height: 70px;
	margin-top: 15px;
	background: url(../images/logo/fnmil.jpg) no-repeat 0 0/contain;
}
.top-header .search-wrap {
	top: 24px;
}
.top-header .search {
	width: 385px;
	padding: 5px 0 5px 30px;
	border: 3px solid #ed145b;
	border-right: none;
	outline: none;
}
.top-header .glyphicon-search{
	position: absolute;
	top: 11px;
	left: 10px;
	color: #ddd;
}
.top-header .top-search-btn {
	position: absolute;
	top: 0;
	left: 385px;
	padding: 9px 20px;
	font-size: 16px;
	color: #fff;
	background-color: #ed145b;
	cursor: pointer;
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
}
.top-header .search-wrap ul {
	width: 386px;
	height: 22px;
	margin-top: 2px;
	overflow: hidden;
	line-height: 22px;
}
.top-header .search-wrap li {
	float: left;
	white-space: nowrap;
}
.top-header .search-wrap li>span {
	margin: 0 10px;
	color: #999;
}
.top-header .search-wrap li>a {
	color: #999;
}
.top-header .search-wrap li>a:hover {
	color: #ed145b;
	text-decoration: none;
}
.top-header .top-header-cart {
	position: absolute;
	top: 24px;
	right: 0;
	width: 110px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #fff;
	background-color: #ed145b;
	text-decoration: none;
	text-align: center;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.top-header-cart .glyphicon-shopping-cart {
	margin-right: 10px;
}

.top-menu {
	width: 100%;
	overflow: hidden;
	background-color: #000;
}
.top-menu .menu-wrap {
	width: auto;
	float: left;
}
.top-menu .menu-wrap .swiper-slide {
	width: auto;
	height: 38px;
	padding: 0 22px;
	line-height: 36px;
}
.top-menu .swiper-slide a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.top-menu .active {
	background-color: #ed145b;
}
.top-menu .icon-wrap {
	float: right;
	margin-top: 5px;
	overflow: hidden;
}
.top-menu .icon-wrap li {
	float: left;
	margin-right: 12px;
}
.sign-top-menu {
	position: fixed;
}
.sign-top-menu .container {
	width: 600px;
}
.sign-top-menu {
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}
.sign-top-menu ul {
	text-align: justify;
}
.sign-top-menu ul:after {
	content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
.sign-top-menu li {
	display: inline-block;
	vertical-align: middle;
	padding: 6px 0;
	font-size: 14px;
}
.sign-top-menu li a {
	color: #333;
	text-decoration: none;
}
.sign-top-menu li a:hover {
	color: #999;
}
.sign-top-menu li .logo {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #fff url(../images/logo/fnmil-mini.jpg) no-repeat 0 0/contain;
}
.owl-controls {
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.fadeOut img {
	width: 100%;
}

.tab-menu {
	margin: 20px 0;
}
.tab-menu .tab-wrap {
	font-size: 22px;
	border: 1px solid #666;
}
.tab-menu .tab {
	padding: 5px 0;
	cursor: pointer;
}
.tab-menu .current {
	color: #e6e6e6;
	background: #666;
}
.tab-menu .current:after {
	position: absolute;
	bottom: -20px;
	left: 50%;
	display: block;
	margin-left: -11px;
	width: 0;
    height: 0;
	content: '';
    border-style: solid;
    border-width: 10px;
    border-color: #666 transparent transparent;
}
.tab-box {
	margin-bottom: 10px;
}
.tab-box .pro-mask {
	display: block;
	height: 340px;
	overflow: hidden;
}
.tab-box .pro-mask:hover {
	opacity: .8;
    filter: alpha(opacity=80);
}
.tab-box .pro-mask img {
	height: 340px;
	margin-left: -185px;
}
.tab-box .pro-detail {
    height: 340px;
    padding: 0 40px;
    background: #fff;
    box-shadow: 0 1px 4px #c5c5c5;
}
.tab-box .pro-tit {
	display: block;
	margin-top: 60px;
	height: 142px;
	overflow: hidden;
	line-height: 24px;
	color: #767676;
    font-size: 16px;
    text-decoration: none;
}
.pro-detail .pro-price {
	position: relative;
	height: 45px;
	margin-top: 40px;
	line-height: 1;
}
.pro-detail .pro-price span {
	position: absolute;
	left: 0;
	font-size: 34px;
	color: #000;
}
.pro-detail .pro-price span em {
	margin-right: 2px;
	font-size: 20px;
	font-style: normal;
	vertical-align: 6px;
}
.pro-detail .pro-price .goto-btn {
	position: absolute;
	right: 0;
	padding: 10px 29px;
	display: block;
	color: #fff;
	background-color: #e81a62;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}
.pro-detail .pro-tag {
	position: relative;
	margin-top: 10px;
}
.pro-detail .pro-tag span {
	position: absolute;
	right: 0;
}
.pro-detail .pro-tag em, .order .con-wrap .top span {
	font-size: 18px;
	font-style: normal;
	color: #b9966a;
	vertical-align: middle;
}

.brand > h2, .order > h2, .evaluate > h2 {
	font: bold 22px 'Microsoft YaHei';
	color: #333;
}
.brand > h2 span, .order > h2 span {
	margin-left: 10px;
	font-size: 14px;
	font-weight: normal;
	color: #999;
}
.brand .wrap {
	display: block;
	height: 398px;
	overflow: hidden;
	color: #333;
	text-decoration: none;
}
.brand .brand-img {
	width: 100%;
	background: #fff;
}
.brand .detail-wrap {
	position: relative;
	top: 0;
	padding-bottom: 12px;
	background-color: #fff;
	transition: 500ms;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
}
.brand .detail-wrap img {
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #ddd;
}
.brand .detail-wrap h3 {
	margin: 0;
	padding: 50px 0 4px 0;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.brand .detail-wrap p {
	margin: 0;
	color: #666;
}
.brand .detail-wrap span {
	display: inline-block;
	margin: 16px auto 0;
	padding: 6px 38px;
	color: #fff;
    background-color: #d22147;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}
.brand .more {
	height: 56px;
	margin-top: 20px;
	font: bold 18px 'Microsoft YaHei';
	text-align: center;
	background-color: #666;
}
.brand .more a {
	color: #fff;
	line-height: 56px;
	text-decoration: none;
}

.order .wrap {
	height: 205px;
	border-top: 1px solid #eceaea;
	background-color: #fff;
}
.order .wrap:nth-child(1), .order .wrap:nth-child(2), .order .wrap:nth-child(3) {
	border: none;
}
.order .wrap img {
	float: left;
	width: 150px;
	height: 150px;
	margin-top: 28px;
}
.order .wrap .con-wrap {
	height: 150px;
	margin-top: 28px;
}
.order .wrap .tit {
	font: bold 16px 'Microsoft YaHei';
}
.order .wrap .pre-wrap {
	position: absolute;
	bottom: 0;
}
.order .wrap .price {
	float: left;
	font: normal 18px 'Arial';
	margin-top: 10px;
	color: #f60957;
}
.order .wrap .order-btn {
	float: right;
	display: block;
	padding: 6px 12px;
	background-color: #ca141d;
	font-size: 16px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

.evaluate .wrap {
	padding: 23px 15px;
	background-color: #fff;
}
.evaluate .main img {
	width: 95%;
}
.evaluate .side > a {
	position: relative;
	display: block;
}
.evaluate .side img {
	height: 195px;
}
.evaluate .side > a span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 375px;
	padding: 6px 0;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,.3);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#BF000000', EndColorStr='#BF000000');
}
.evaluate .side ul {
	margin-top: 10px;
	padding-left: 10px;
}
.evaluate .side ul li {
	width: 375px;
	overflow: hidden;
	line-height: 25px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.evaluate .side ul li a {
	color: #676767;
}
.evaluate .side ul li a:hover {
	color: #ed145b;
}

footer {
	padding: 10px 0;
	text-align: center;
	color: #6a6a6a;
	background-color: #1a1a1a;
}

.footer-xs {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	padding: 0 20px;
	line-height: 30px;
	background-color: #fff;
	border-top: 1px solid #ddd;
}
.footer-xs ul {
	text-align: justify;
}
.footer-xs ul:after {
	display: inline-block;
	width: 100%;
	content: '';
    font-size: 0;
    line-height: 0;
}
.footer-xs li {
	display: inline-block;
}
.footer-xs li a {
	color: #000;
}
.footer-xs li .active {
	color: #b9966a;
}


.act-con-wrap, .info-wrap {
	position: relative;
	background-color: #f6f6f6;
}
.act-con-wrap .order-bar {
	margin: 10px 0;
	background-color: #fff;
	border: 1px solid #EAEAEA;
}
.act-con-wrap .order-bar li {
	float: left;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	border-right: 1px solid #eaeaea;
}
.act-con-wrap .order-bar li:first-of-type {
	color: #d22147;
}
.act-con-wrap .order-bar li > span {
	margin-left: 4px;
}
.act-con-wrap .order-bar .simple-page {
	float: right;
	margin: 15px 20px 0 0;
    line-height: 12px;
}
.act-con-wrap .order-bar .simple-page span {
	margin-left: 10px;
}
.act-con-wrap .order-bar .simple-page span i {
	font-style: normal;
	color: #d22147;
}
.act-con-wrap .order-bar .simple-page .glyphicon {
	color: #999;
}

.act-con-wrap article:nth-last-of-type(1) {
	margin-bottom: 30px;
}
.act-con-wrap h2 {
	margin-bottom: 0;
	font: 28px/60px 'Microsoft YaHei';
	text-align: center;
	border-bottom: 2px solid #000;
}
.act-con-wrap .wrap {
	margin-bottom: 10px;
}
.act-con-wrap .wrap a:hover {
	opacity: .8;
    filter: alpha(opacity=80);
}
.act-con-wrap img {
	width: 100%;
}
.act-con-wrap .proinfo {
	position: relative;
	height: 122px;
	padding: 0 16px;
	background-color: #fff;
}
.act-con-wrap .proinfo h3 {
	font: 12px/18px 'Microsoft YaHei';
	margin:0;
	padding-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.act-con-wrap .proinfo h3 > a {
	display: block;
	color: #333;
}
.act-con-wrap .proinfo > p {
	margin-top: 6px;
}
.act-con-wrap .proinfo > p em {
	font-size: 18px;
	color: #b9966a;
	font-style: normal;
	vertical-align: middle;
}
.act-con-wrap .proinfo strong {
	position: absolute;
	bottom: 16px;
	font-size: 18px;
	color: #d22147;
}
.act-con-wrap .proinfo strong span {
	font-size: 12px;
}
.act-con-wrap .proinfo > a {
	position: absolute;
	right: 18px;
	bottom: 16px;
	padding: 4px 6px;
	color: #fff;
	background-color: #d22147;
}
.footer-btm {
	padding-bottom: 40px;
}

.top-header {
	background-color: #fff;
}
.top-header .step span {
	position: relative;
	top: 40px;
	right: -30px;
	display: block;
	width: 290px;
	height: 20px;
	background: url(../images/icon/steps.png) no-repeat;
}
.top-header .step2 span {
	background: url(../images/icon/steps.png) no-repeat 0 -34px;
}
.top-header .step3 span {
	background: url(../images/icon/steps.png) no-repeat 0 -65px;
}
.top-header .step ul {
	position: relative;
	top: 40px;
	font-size: 14px;
}
.top-header .step li {
	float: left;
	color: #ddd;
	text-align: center;
}
.top-header .step .active {
	color: #d22147;
}
.top-header .step .step-1 {
	width: 70px;
}
.top-header .step .step-2 {
	width: 86px;
	margin-left: 64px;
}
.top-header .step .step-3 {
	width: 86px;
	margin-left: 50px;
}
.border {
	border-bottom: 2px solid #e5e5e5;
}

.cart-wrap > p {
	margin: 20px 0 0 0;
	color: #fa8801;
}
.cart-wrap > p > i {
	display: inline-block;
	width: 40px;
	padding-left: 5px;
	font-style: normal;
	background: url(../images/icon/icons.png) no-repeat -2px -86px;
}
.cart-wrap .head {
	padding: 12px 0 12px 26px;
}
.cart-wrap input[type=checkbox] {
	display: inline-block;
	width: 17px;
	height: 18px;
	background: url(../images/icon/checkboxIcons.png) no-repeat 0 -24px;
	-webkit-appearance: none;
	outline: none !important; 
}
.cart-wrap input:checked {
	background-position: 0 0;
}
.cart-wrap strong {
	position: relative;
	bottom: 2px;
	font: bold 16px 'SimHei';
}
.cart-wrap .col {
	color: #999;
	text-align: center;
	line-height: 26px;
}
.cart-wrap .goods-wrap {
	border: 1px solid #eaeaea;
	background-color: #FFFBF0;
}
.cart-wrap .goods-box {
	border-bottom: 1px solid #eaeaea;
}
.cart-wrap .goods {
	padding-left: 26px;
}
.cart-wrap .goods .box {
	display:table; 
	width:100%;
	text-align:center;
}
.cart-wrap .goods .wrap {
	display: table-cell;
	height: 119px;
	text-align: left;
	vertical-align: middle;
}
.cart-wrap .goods .info {
	position: relative;
	height: 88px;
	font-size: 14px;
}
.cart-wrap .goods .info a {
	color: #333;
	text-decoration: none;
}
.cart-wrap .goods .info p {
	position: absolute;
	bottom: -30px;
}
.cart-wrap .goods .info p em {
	padding-right: 10px;
	font-style: normal;
	color: #999;
}
.cart-wrap .goods .info a:hover {
	color: #D22046;
}
.cart-wrap .goods .wrap .cart-item-num span {
	float: left;
	width: 20px;
	height: 20px;
	line-height: 18px;
	font: normal 16px 'Tahoma,Geneva,sans-serif';
	text-align: center;
	color: #666;
	border: 1px solid #e0e0e0;
	background:-webkit-linear-gradient(#fff 0,#f5f5f5 30%,#fff 60%,#f5f5f5 100%);
	background:-moz-linear-gradient(#fff 0,#f5f5f5 30%,#fff 60%,#f5f5f5 100%);
	background:linear-gradient(#fff 0,#f5f5f5 30%,#fff 60%,#f5f5f5 100%); 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#f5f5f5',GradientType='0');
	cursor: pointer;
}
.cart-wrap .goods .wrap .cart-item-num .disabled {
	color: #ccc;
	cursor: not-allowed;
}
.cart-wrap .goods .wrap .cart-item-num {
	width: 74px;
	margin: 0 auto; 
}
.cart-wrap .goods .wrap .cart-item-num input[type=text] {
	float: left;
	width: 30px;
	height: 20px;
	text-align: center;
	border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e0e0e0;
    outline: none;
}
.cart-wrap .goods .remove, .cart-wrap .goods .pc-remove, .mylist .tab-content .header .remove {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/icon/garbage_8.png) no-repeat 0 0;
}
.cart-wrap .goods .remove, .cart-wrap .goods .pc-remove:hover, .mylist .tab-content .header .remove:hover {
	background: url(../images/icon/garbage_8.png) no-repeat 0 -21px;
}
.cart-wrap .goods img {
	width: 100%;
}
.cart-wrap .goods-info {
	padding: 10px 20px;
	text-align: right;
	color: #333;
	background-color: #fff;
}
.cart-wrap .goods-info span {
	margin-left: 20px;
}
.cart-wrap .goods-info span em {
	font-style: normal;
	font-weight: bold;
}
.cart-wrap .goods-info span i {
	font-style: normal;
	font-weight: 500;
}

.cart-wrap .total-box {
	position: relative;
	margin-top: 34px;
	padding: 10px 26px;
	height: 62px;
	border: 1px solid #eaeaea;
	background-color: #F8F8F8;
}
.cart-wrap .total-box .side {
	float: left;
	line-height: 40px;
}
.cart-wrap .total-box input:checked {
	margin: -3px 0 0 0;
	vertical-align: middle;
}
.cart-wrap .total-box label {
	margin: 0 20px 0 10px;
	font-weight: normal;
}
.cart-wrap .total-box b {
	font-weight: normal;
}
.cart-wrap .total-box .wrap {
	float: right;
	margin-right: 114px;
}
.cart-wrap .total-box .wrap button {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 120px;
	height: 60px;
	border: none;
	line-height: 60px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background-color: #d22147;
	text-decoration: none;
}
.cart-wrap .total-box .wrap a:hover {
	background-color: rgb(245, 52, 94);
}
.cart-wrap .total-box .all-goods {
	margin: 0;
	text-align: right;
}
.cart-wrap .total-box .all-goods em {
	color: #D12147;
    font: bold 18px 'Microsoft YaHei';
}
.cart-wrap .total-box .all-goods span {
	margin-left: 20px;
}
.cart-wrap .total-box .all-money {
	margin: 0;
	color: #999;
}
.cart-wrap .total-box .all-money span {
	margin-left: 20px;
}
.cart-wrap .footer {
	padding: 11px 20px;
	text-align: right;
	background-color: #fff;
}
.cart-wrap .footer span {
	margin-left: 20px;
}
.cart-wrap .footer b{
	font-weight: normal;
}
.cart-wrap .footer em {
	font-style: normal;
}

.order-wrap h2 {
	margin: 18px 0;
	font: bold 18px 'Microsoft YaHei';
}
.order-wrap .adr-info {
	position: relative;
	height: 152px;
	margin: 0 0 16px 0;
	border: 1px solid #eee;
	cursor: pointer;
}
.order-wrap .adr-info:hover {
	background: #f7f7f7;
}
.order-wrap .default, .order-wrap .default:hover {
	border: 2px solid #d22147;
	background-color: #fffbee;
}
.order-wrap .sel-wrap > span {
	display: inline-block;
    line-height: 26px;
    padding: 0 5px;
    color: #333;
    text-align: center;
    border: 1px solid #999;
    cursor: pointer;
}
.order-wrap .sel-wrap > span:hover {
	border-color: #d12147;
    color: #d12147;
}
.order-wrap .adr-info > p {
	margin: 0 18px;
	padding-top: 3px;
	word-break: break-all; 
}
.order-wrap .adr-info .header {
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #eee;
}
.order-wrap .adr-info .header strong {
	float: left;
	font-size: 14px;
	font-weight: 700;
}
.order-wrap .adr-info .header b {
	float: right;
	font-size: 12px;
	color: #666;
	font-weight: 400;
}
.order-wrap .adr-info .addressText {
	font-weight: 700;
}
.order-wrap .adr-info .edit {
	position: absolute;
	bottom: 8px;
	left: 0;
}
.order-wrap .adr-info .edit a {
	color: #666;
	margin-right: 24px;
}

.modal-dialog .modal-body {
	text-align: center;
}
.modal-dialog .modal-body .wrap {
	padding-bottom: 20px;
	font-size: 20px;
	color: #333;
}
.modal-dialog .modal-body .wrap span {
	margin-right: 4px;
	color: #d12147;
}
.modal-dialog .modal-body p a {
	display: inline-block;
	margin: 0 5px;
	padding: 5px 20px;
	font-size: 14px;
	color: #666;
	text-decoration: none;
	border: 1px solid #ccc;
}
.modal-dialog .modal-body p .focus-btn {
	color: #fff;
	background-color: #D22147;
    border-color: #D22147;
}

.order-wrap .state-current {
	margin: 40px 0 20px 0;
	padding: 30px 20px;
	border: 1px solid #eee;
}
.order-wrap .state-current h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
}
.order-wrap .state-current .glyphicon {
	padding-right: 10px;
	color: #D12147;
}
.order-wrap .state-current .btns {
	width: 80px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin: 16px 0 0 30px;
	text-align: center;
	color: #fff;
	background-color: #D12046;
	cursor: pointer;
}
.order-wrap .state-current .btns:hover {
	background-color: #F5345E;
}
.order-wrap .item {
	padding: 10px 0;
	font-size: 14px;
	line-height: 36px;
}
.order-wrap .item > span {
	display: block;
	width: 100px;
	float: left;
	margin-right: 15px;
	text-align: right;
}
.order-wrap .item > span > i {
	font-style: normal;
    color: #D12147;
    vertical-align: middle;
}
.order-wrap .item .dropdown {
	position: relative;
	display: inline-block;
	width: 144px;
	height: 34px;
	margin: 0 4px;
	line-height: 34px;
	border: 1px solid #ddd;
}
.order-wrap .item .dropdown .dropdown-menu {
	max-height: 360px;
	overflow-y: auto;
	padding: 0;
}
.order-wrap .item .dropdown .dropdown-menu li a {
	padding: 9px 20px;
	border-bottom: 1px solid #ddd;
}
.order-wrap .item .dropdown .dropdown-menu .active {
	background-color: #eee;
}
.order-wrap .item .dropdown a {
	display: block;
	padding: 0 20px;
	color: #333;
	text-decoration: none;
}
.order-wrap .item .dropdown a .caret {
	position: absolute;
	top: 15px;
	right: 10px;
}
.order-wrap .item textarea {
	float: left;
	width: 456px;
	height: 64px;
	margin: 0 5px;
	padding: 7px 10px;
	border: 1px solid #ddd;
	resize: none;
}
.order-wrap .item input {
	width: 456px;
	height: 36px;
	margin: 0 5px;
	padding: 7px 10px;
	border: 1px solid #ddd;
}
.order-wrap .item p {
	margin: 0;
}
.order-wrap .item p input {
	width: 125px;
}
.order-wrap .item p .phone {
	width: 158px;
}
.order-wrap .item-bottom {
	margin-left: 120px;
}
.order-wrap .item-bottom button {
	margin: 30px 0 20px 0;
	padding: 6px 13px;
	font: bold 18px 'Microsoft YaHei';
	color: #fff;
    border: 1px solid #D12147;
    background-color: #D12147;
}
.order-wrap .item-info h3 {
	font: bold 18px 'Microsoft YaHei';
}
.order-wrap .item-info > .wrap {
	overflow: hidden;
	text-align: center;
	border: 1px solid #E8E8E8;
}
.order-wrap .item-info .wrap .head {
	padding: 8px 0;
	color: #999;
	border-bottom: 1px solid #E8E8E8;
}
.order-wrap .item-info .wrap .head span {
	margin-left: 20px;
}
.order-wrap .item-info .content {
	border-bottom: 1px solid #E8E8E8;
}
.order-wrap .item-info .content .box {
	display: table;
    width: 100%;
    text-align: center;
}
.order-wrap .item-info .content .wrap {
	display: table-cell;
    height: 72px;
    overflow: hidden;
    vertical-align: middle;
}
.order-wrap .item-info .content .wrap b {
	font-size: 16px;
}
.order-wrap .item-info .content .wrap p {
	margin: 0 0 0 20px;
	font-size: 14px;
	text-align: left;
}
.order-wrap .item-info .content .wrap p em {
	margin-right: 10px;
	font-size: 12px;
	font-style: normal;
	color: #999;
}
.order-wrap .item-info .bottom {
	padding: 16px 64px;
	font-size: 14px;
	text-align: right;
	background: #f7f7f7;
}

.order-wrap .total-box {
	position: relative;
	padding: 20px 26px;
	background-color: #F8F8F8;
}
.order-wrap .total-box .side {
	float: left;
	line-height: 40px;
}
.order-wrap .total-box .order-box {
	float: right;
}
.order-wrap .total-box .order-box .key, .order-wrap .total-box .order-box .value {
	float: left;
}
.order-wrap .total-box .order-box .key p {
	margin: 0;
	font-size: 14px;
	text-align: right;
	line-height: 24px;
}
.order-wrap .total-box .order-box .value p {
	margin: 0;
	padding-left: 15px;
	font-size: 14px;
	text-align: right;
	line-height: 24px;
}
.order-wrap .total-box .order-box .value p span {
	font-size: 18px;
	font-weight: 700px;
	color: #e73333;
}
.order-wrap .total-box .order-box .submib {
	display: block;
	width: 120px;
	height: 40px;
	float: right;
	margin-top: 15px;
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background-color: #d22147;
	text-decoration: none;
}
.order-wrap .total-box .order-box .go-back {
	float: left;
	margin-top: 15px;
	line-height: 40px;
}
.order-wrap .oddetail {
	margin-bottom: 20px;
	font-size: 14px;
	border: 1px solid #eee;
}
.order-wrap .oddetail h4 {
	margin: 0;
	padding: 8px 0 8px 20px;
	font-size: 12px;
	color: #999;
	border-bottom: 1px solid #eee;
}
.order-wrap .oddetail .cnt {
	padding: 14px 20px;
	line-height: 26px;
}
.order-wrap .oddetail .cnt p {
	margin: 0;
}
.order-wrap .oddetail .cnt p i {
	font-style: normal;
	color: #D12147;
}
.act-con-wrap .coupon {
	margin: 20px 0 10px 0;
}
.act-con-wrap .coupon .info {
	padding: 22px 0px 22px 45px;
	background-color: #fa9c5e;
	color: #fff;
}
.act-con-wrap .coupon .info span {
	font-size: 20px;
}
.act-con-wrap .coupon .info strong {
	margin-right: 20px;
	font-size: 34px;
}
.act-con-wrap .coupon .info em {
	position: relative;
	bottom: 6px;
	font-style: normal;
	font-size: 20px;
}
.act-con-wrap .coupon .detail { 
	position: relative;
	padding: 12px 45px;
	background-color: #fff;
}
.act-con-wrap .coupon .detail p {
	margin: 0;
	line-height: 24px;
}
.act-con-wrap .coupon .detail a {
	position: absolute;
	top: 35px;
    right: 40px;
    display: block;
    padding: 4px 10px;
    color: #333;
    border: 1px solid #ccc;
}
.act-con-wrap .coupon .detail a:hover {
	color: #d22147;
}
.act-con-wrap .phone-coupon {
	margin: 0;
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
.act-con-wrap .phone-coupon span {
	margin-right: 10px;
	color: #d22147;
}

.payway-wrap .logistics-wrap, .payway-wrap .payInfo-wrap {
	margin-top: 10px;
	padding: 24px 0 0 32px;
	border: 1px solid #eaeaea;
	background-color: #fff;
}
.payway-wrap .logistics-wrap {
	margin-bottom: 20px;
}
.payway-wrap .logistics-wrap h2, .payway-wrap .payInfo-wrap h2 {
	margin: 0;
	padding-bottom: 18px;
	font-size: 18px;
	font-weight: 700;
	border-bottom: 1px solid #eaeaea;
}
.payway-wrap .logistics-wrap h2 b {
	position: relative;
	top: 6px;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	background: url(../images/icon/orderGroup.png) -2px -360px no-repeat #fff;
}
.payway-wrap .logistics-info, .payway-wrap .payWays {
	padding: 20px 0 20px 32px;
}
.payway-wrap .logistics-info p {
	margin-bottom: 5px;
}
.payway-wrap .logistics-info .receiptInfo {
	padding-top: 10px;
}
.payway-wrap .payInfo-wrap h2 {
	font-size: 14px;
}
.payway-wrap .payInfo-wrap h2 b {
	font-size: 24px;
    font-weight: 700;
    color: #d12147;
}
.payway-wrap .payWays input {
	position: relative;
	top: -20px;
}
.payway-wrap .payWays b {
	display: inline-block;
	width: 146px;
    height: 56px;
    margin-left: 34px;
    border: 2px solid #d31b43;
    background: url(../images/icon/orderGroup.png) center 0 no-repeat #fff;
}
.payway-wrap .payWays .payBtn {
	background-color: #f5345e;
	width: 186px;
	margin-top: 20px;
	padding: 8px 0;
    color: #fff;
    text-align: center;
    font: 700 18px "Microsoft YaHei";
    cursor: pointer;
}

.info-wrap .detail-wrap {
	margin-top: 20px;
	background-color: #fff;
	box-shadow: 1px 1px 4px #d3d3d3;
}
.info-wrap .detail-wrap .title {
	background-color: #f8f8f8;
	padding: 6px 0 20px 30px;
}
.info-wrap .detail-wrap .title p {
	margin: 0;
	padding-right: 30px;
	font-size: 18px;
	word-wrap: break-word;
    word-break: normal;
}
.info-wrap .detail-wrap .mall-detail {
	padding: 20px 0;
}

.info-wrap .detail-wrap .mall-detail .jqSlide {
	position: relative;
	margin-left: 20px;
	padding: 25px 0 30px 0;
	width: 71.6%;
}
.info-wrap .detail-wrap .mall-detail .jqSlide .btn {
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	height: 20px;
	padding: 0;
	border: 1px solid #e0e0e0;
	background:-webkit-linear-gradient(#fff,#eceaea);
	background:-moz-linear-gradient(#fff,#eceaea);
	background:linear-gradient(#fff,#eceaea); 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#eceaea',GradientType='0');
}
.info-wrap .detail-wrap .mall-detail .jqSlide .disabled {
	background: #fff;
}
.info-wrap .detail-wrap .mall-detail .jqSlide .prev {
	top: 0;
} 
.info-wrap .detail-wrap .mall-detail .jqSlide .next {
	bottom: 0;
} 
.info-wrap .detail-wrap .mall-detail .jqSlide .btn .glyphicon {
	position: relative;
	top: 0;
	font-size: 12px;
	color: #bababa;
	z-index: 1;
}
.info-wrap .detail-wrap .mall-detail .jqSlide .jqSlide-list {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.info-wrap .detail-wrap .mall-detail .jqSlide .jqSlide-list ul {
	position: absolute;
	top: 0;
	left: 0;
}
.info-wrap .detail-wrap .mall-detail .jqSlide .jqSlide-list ul li {
	width: 100%;
	margin: 5px 0;
}
.info-wrap .detail-wrap .mall-detail .jqSlide .jqSlide-list ul li img {
	width: 100%;
	border: 1px solid #eee;
}
.info-wrap .detail-wrap .mall-detail .jqSlide .jqSlide-list ul li .active {
	border: 1px solid #ed145a;
}
.info-wrap .detail-wrap .mall-detail .wrap {
	overflow: hidden;
}
.info-wrap .detail-wrap .mall-detail .wrap ul li {
	float: left;
}
.info-wrap .detail-wrap .mall-detail .wrap ul li img {
	width: 100%;
}
.info-wrap .detail-wrap .side .brand {
	margin-top: 40px;
	border-bottom: 1px dotted #c5c5c5;
}
.info-wrap .detail-wrap .side .brand > img {
	height: 40px;
}
.info-wrap .detail-wrap .side .brand .flag {
	float: right;
}
.info-wrap .detail-wrap .side .brand .flag img {
	float: left;
	width: 60px;
	height: 40px;
	margin-right: 10px;
	border: 1px solid #eee;
	border-radius: 4px;
}
.info-wrap .detail-wrap .side .brand .flag ul {
	float: left;
}
.info-wrap .detail-wrap .side h2 {
	padding-bottom: 20px;
	font-size: 20px;
	color: #333;
	border-bottom: 1px dotted #c5c5c5;
}
.info-wrap .detail-wrap .side .mall-price {
	padding-bottom: 10px;
	color: #ed145b;
	font-size: 30px;
	border-bottom: 1px dotted #c5c5c5;
}
.info-wrap .detail-wrap .side .mall-price em {
	font: 700 16px Arial;
}
.info-wrap .detail-wrap .side .mall-people {
	margin: 20px 0 0 0;
	padding-bottom: 20px;
	color: #999;
	border-bottom: 1px dotted #c5c5c5;
}
.info-wrap .detail-wrap .side .mall-people .glyphicon-user {
	padding-right: 10px;
}
.info-wrap .detail-wrap .side .mall-people em {
	padding-left: 4px;
	font: 700 12px Arial;
	color: #ed145b;
}
.info-wrap .detail-wrap .side .mall-detail {
	border-bottom: 1px dotted #c5c5c5;
}
.info-wrap .detail-wrap .side .num-detail {
	display: inline-block;
	width: 106px;
	margin-left: 10px;
	vertical-align: middle;
}
.info-wrap .detail-wrap .side .num-detail span {
	float: left;
	width: 28px;
	height: 28px;
	padding-top: 4px;
	color: #666;
	font: normal 16px 'Tahoma,Geneva,sans-serif';
	text-align: center;
	border: 1px solid #e0e0e0;
	background: -webkit-linear-gradient(#fff 0,#f5f5f5 30%,#fff 60%,#f5f5f5 100%);
    background: -moz-linear-gradient(#fff 0,#f5f5f5 30%,#fff 60%,#f5f5f5 100%);
    background: linear-gradient(#fff 0,#f5f5f5 30%,#fff 60%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#f5f5f5',GradientType='0');
    cursor: pointer;
}
.info-wrap .detail-wrap .side .num-detail .disabled {
	color: #ccc;
    cursor: not-allowed;
    background: #fff; 
}
.info-wrap .detail-wrap .side .num-detail input[type=text] {
	float: left;
	width: 50px;
	height: 28px;
	text-align: center;
	border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e0e0e0;
    outline: none;
}
.info-wrap .detail-wrap .side .btn {
	display: inline-block;
	margin: 20px 0;
	padding: 10px;
	font-size: 16px;
	color: #fff;
}
.info-wrap .detail-wrap .side .mail-policy {
	padding: 20px 0 10px 0;
	color: #8e8e8e;
	border-bottom: 1px dotted #c5c5c5;
}
.info-wrap .detail-wrap .side .shopping {
	background-color: #ed145b;
}
.info-wrap .detail-wrap .side .buy {
	margin-left: 20px;
	background-color: #6e58bc;
}
.info-wrap .detail-wrap .side .btn .glyphicon-menu-right {
	font-size: 12px;
}
.info-wrap .list-wrap {
	margin-top: 20px;
	padding: 18px 0;
	text-align: center;
	background-color: #fff;
	box-shadow: 1px 1px 4px #d3d3d3;
}
.info-wrap .list-wrap .rightborder {
	border-right: 1px solid #eee;
}
.info-wrap .list-wrap img, .info-wrap .list-wrap .wrap {
	display: inline-block;
}
.info-wrap .list-wrap .wrap {
	vertical-align: middle;
	text-align: left;
}
.info-wrap .list-wrap p {
	margin: 0 0 5px;
	padding-left: 14px;
	font: normal 16px 'Microsoft YaHei';
}
.info-wrap .list-wrap p span {
	font-size: 12px;
}
.info-wrap .list-wrap .item {
	height: 160px;
	transition: 0.5s;
	cursor: default;
}
.info-wrap .list-wrap .list {
	height: 80px;
	overflow: hidden;
}
.info-wrap .list-wrap .item-show {
	padding: 14px 0;
	background-color: #fff;
}
.info-wrap .list-wrap .item:hover {
	-webkit-transform:translateY(-80px);
	-moz-transform:translateY(-80px);
	-o-transform:translateY(-80px);
	transform:translateY(-80px);
}

.info-wrap .deal-detail {
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: #fff;
	box-shadow: 1px 1px 4px #d3d3d3;
}
.info-wrap .deal-detail ul {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background: #f6f6f6;
}
.info-wrap .deal-detail li {
	float: left;
}
.info-wrap .deal-detail li a {
	display: inline-block;
	margin-top: 2px;
	padding: 15px 25px;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	border-right: 1px solid #e5e5e5;
}
.info-wrap .deal-detail li a:hover {
	margin-top: -1px;
	color: #e42141;
	border-top: 3px solid #e42141;
	background-color: #fff;
}
.info-wrap .deal-detail .wrap {
	padding: 80px 0 30px 0;
}
.info-wrap .deal-detail .wrap .title {
	position: relative;
	width: 922px;
	height: 50px;
	margin: 0 auto;
}
.info-wrap .deal-detail .wrap .title .line {
	width: 902px;
	height: 24px;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
}
.info-wrap .deal-detail .wrap .title span {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 532px;
	height: 48px;
	margin-left: -266px;
	background-color: #333;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 48px;
}
.info-wrap .deal-detail .wrap .main {
	width: 710px;
	margin: 0 auto;
}
.info-wrap .deal-detail .wrap #spxq .main {
	margin-top: 20px;
}
.info-wrap .deal-detail .wrap #spsp .main {
	margin-bottom: 40px;
}
.info-wrap .deal-detail .wrap .main img {
	width: 100%;
}

.moreBrand-wrap {
	background-color: #333;
}
.moreBrand-wrap .title {
	margin: 38px 0 0 0;
	font-size: 42px;
	color: #fff;
	line-height: 42px;
}
.moreBrand-wrap p {
	text-align: center;
	font-size: 16px;
	color: #999;
}
.moreBrand-wrap .brand > .row {
	margin-bottom: 20px;
}
.moreBrand-wrap .brand  .box {
	padding: 0 10px;
}
.moreBrand-wrap .brand .wrap {
    display: block;
    height: 380px;
    overflow: hidden;
    color: #333;
    text-decoration: none;
}
.moreBrand-wrap .brand .noMore {
	margin: 50px 0 20px 0;
}
.moreBrand-wrap .brand .noMore p {
	margin: 0 auto;
    width: 166px;
    height: 43px;
    line-height: 43px;
    border-top: 1px solid #464156;
    border-bottom: 1px solid #464156;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.brand-banner {
	margin-top: 30px;
	background-color: #fff;
}
.brand-banner img {
	width: 100%;
}
.brand-banner .wrap {
	padding: 20px;
}
.brand-banner .title img {
	width: 68px;
	height: 68px;
	float: left;
	border: 1px solid #eaeaea;
}
.brand-banner .title .name {
	float: left;
	margin: 10px 0 0 12px;
	font-size: 18px;
}
.brand-banner .content {
	margin-top: 10px;
	font-size: 12px;
	line-height: 20px;
}

.mylist, .coupon-wrap {
	margin-top: 20px;
}
.mylist .tab, .coupon-wrap .tab {
	border-bottom: 1px solid #ccc;
}
.mylist .tab li, .coupon-wrap .tab li {
	float: left;
	display: block;
	padding: 14px 20px;
	font: bold 18px '微软雅黑','Helvetica Neue',sans-serif,SimHei;
	cursor: pointer;
}
.mylist .tab li b {
	font-weight: normal;
    color: #d22147;
}
.mylist .tab .active, .coupon-wrap .tab .active {
	color: #d22147;
}
.mylist .tab .auto, .coupon-wrap .tab .auto {
	border-bottom: 2px solid #d22147;
}
.mylist .tab-content .nodata {
	display: block;
    margin: 60px auto;
    text-align: center;
}
.mylist .tab-content > div, .coupon-wrap .tab-content > div {
	display: none;
}
.mylist .tab-content .title {
	margin: 0;
	padding: 14px 0;
	font-size: 14px;
	text-align: center;
}
.mylist .tab-content {
	font-size: 14px;
}
.mylist .tab-content .listwrap {
	margin-bottom: 20px;
	border: 1px solid #e8e8e8;
	border-bottom: none;
}
.mylist .tab-content .header {
	margin: 0;
	padding: 11px 20px;
	font-size: 12px;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f7f7f7;
}
.mylist .tab-content .header span {
	margin-right: 24px;
}
.mylist .tab-content .header em {
	font-style: normal;
}
.mylist .tab-content .content {
	margin: 0;
	border-bottom: 1px solid #e8e8e8;
}
.mylist .tab-content .content img {
	width: 100%;
	padding: 20px 0;
}
.mylist .tab-content .content .aTit {
	color: #333;
	text-decoration: none;
	word-break: break-all;
}
.mylist .tab-content .content .aTit:hover {
	color: #d22147;
}
.mylist .tab-content .content .box {
	display: table;
    width: 100%;
    text-align: center;
    border-left: 1px solid #e8e8e8;
}
.mylist .tab-content .content .wrap {
	display: table-cell;
    height: 138px;
    overflow: hidden;
    vertical-align: middle;
}
.mylist .tab-content .content .wrap p {
	margin: 0;
}
.mylist .tab-content .content .wrap .remove {
	width: 17px;
	height: 17px;
	margin: 0 auto;
	background: url(../images/icon/garbage_8.png) no-repeat 0 0;
	cursor: pointer;
}
.mylist .tab-content .content .wrap .remove:hover {
	background: url(../images/icon/garbage_8.png) no-repeat 0 -21px;
}

.inform {
	background-color: #f3f3f3;
}
.inform .informBox {
	min-height: 770px;
	margin: 40px 0 60px 0;
	padding: 38px 94px;
	background: url(../images/icon/inform_bg.jpg) 24px 24px no-repeat #fff;
}
.inform .informBox > ul {
	width: 900px;
	padding: 30px 0;
	overflow: hidden;
	border-bottom: 1px solid #EAEAEA;
}
.inform .informBox > ul li {
	float: left;
	width: 210px;
	margin-right: 20px;
}
.inform .informBox .last {
	margin: 0;
}
.inform .informBox li .icon {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background: url(../images/icon/inform_icon.png) no-repeat;
}
.inform .informBox li .icon-1 {
	background-position: -1px 0;
}
.inform .informBox li .icon-2 {
	background-position: -51px 0;
}
.inform .informBox li .icon-3 {
	background-position: -101px 0;
}
.inform .informBox li .icon-4 {
	background-position: -151px 0;
}
.inform .informBox li strong,.inform .informBox li span {
	display: block;
	padding-left: 50px;
	font-size: 14px;
	color: #333;
	line-height: 20px;
}
.inform .informBox li span {
	color: #999;
}
.inform .informBox .wrap {
	font-size: 14px;
	line-height: 28px;
}
.inform .informBox h2 {
	margin: 50px 0 26px 0;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}
.inform .informBox h3 {
	margin: 0;
	font-size: 14px;
	line-height: 28px;
}
.inform .informBox p {
	margin: 0;
}

.bg {
	background: url(../images/bg/1.jpg) no-repeat;
}
.form-signig {
	max-width: 380px;
	margin: 18% auto;
	padding: 50px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,.6);
}
.form-signig h2 {
	margin: 0 0 20px 0;
	font: bold 20px '微软雅黑','Helvetica Neue',sans-serif,SimHei;
	text-align: center;
}
.form-signig .wrap {
	position: relative;
	margin-bottom: 10px;
}
.form-signig .wrap > span {
	position: absolute;
	width: 2.6em;
	padding-top: 8px;
	text-align: center;
	opacity: .5;
}
.form-signig .form-control {
	padding-left: 3em;
	background: rgba(255,255,255,.5);
    border: none;
}
.form-signig .wrap .checkbox {
	display: inline-block;
	margin: 0;
}
.form-signig .checkbox input[type="checkbox"] {
	margin: 0;
	opacity: 0;
}
.form-signig .checkbox label {
	display: block;
	font: normal 1em '微软雅黑','Helvetica Neue',sans-serif,SimHei;
	color: rgba(0,0,0,.6);
	line-height: 1em;
	transition: color .2s ease;
}
.form-signig .checkbox label:hover, .form-signig .wrap a:hover {
	color: rgba(0,0,0,.8);
}
.form-signig .checkbox label:before {
	position: absolute;
    top: 0;
    line-height: 1;
    width: 1em;
    height: 1em;
    left: 0;
    content: '';
    border-radius: 4px;
    background: #FFF;
    -webkit-transition: background-color .3s ease,-webkit-box-shadow .3s ease;
    -moz-transition: background-color .3s ease,box-shadow .3s ease;
    transition: background-color .3s ease,box-shadow .3s ease;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}
.form-signig .checkbox label:after {
	-ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    background: 0 0;
    border: .2em solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: .275em;
    left: .25em;
    width: .6em;
    height: .3em;
}
.form-signig .wrap a {
	position: absolute;
	top: 0;
	right: 0;
	color: rgba(0,0,0,.6);
	font: normal 1em '微软雅黑','Helvetica Neue',sans-serif,SimHei;
	text-decoration: none;
	transition: color .2s ease;
}
.form-signig .wrap button {
	width: 100%;
    height: 38px;
	margin-top: 6px;
    border: none;
    background-color: #323a45;
    color: #fff;
    font-size: 18px;
    border-radius: 24px;
    cursor: pointer;
    transition: opacity .2s ease;
}
.form-signig .wrap button:hover {
	opacity: .9;
}
.form-signig .register {
	display: block;
	text-align: center;
	color: rgba(0,0,0,.6);
	text-decoration: none;
    transition: color .2s ease;
}
.form-signig .register:hover { 
	color: rgba(0,0,0,.8);
}

.side-menu {
	padding-bottom: 20px;
    background-color: #fafafa;
    line-height: 20px;
}
.side-menu h4 {
    margin: 0;
    padding: 28px 0 22px 28px;
    cursor: default;
}
.side-menu h5 {
    position: relative;
    margin: 8px 30px 11px;
    text-align: center;
    color: #888;
    background: url(../images/icon/bg63.png) repeat-x 0 50%;
    cursor: default;
}
.side-menu h5 span {
    display: inline-block;
    padding: 0 8px;
    background-color: #fafafa;
}
.side-menu ol li {
    padding: 10px 0;
}
.side-menu .active {
    color: #ca151e;
    border-left-color: #ca151e;
}
.side-menu a {
    display: block;
    padding-left: 29px;
    text-decoration: none;
    color: #333;
    border-left: 2px solid #fafafa;
}
.side-menu a:hover {
    color: #ca151e;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.coupon-wrap .tab-content .nodata {
	display: block;
	margin: 60px auto;
	text-align: center;
}
.coupon-wrap .main .title {
	margin: 0;
	padding: 6px 0 16px 2px;
    font-size: 18px;
    font-weight: bold;
    color: #191E1F;
}
.coupon-wrap .main .coupon-use {
    padding: 40px 0;
    margin-bottom: 40px;
    text-align: center;
    border: 1px solid #eee;
    background-color: #F7F7F7;
    color: #333;
    font-size: 18px;
}
.coupon-wrap .main .coupon-use label {
	font-weight: normal;
}
.coupon-wrap .main .couponkey {
	margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #eee;
}
.coupon-wrap .main .btn-red40 {
	padding: 5px 36px; 
    font-size: 18px;
	color: #fff;
    text-align: center;
    background-color: #D12046;
    border: 0 none;
    cursor: pointer;
}
.coupon-wrap .couponlist {
	margin-top: 20px;
}
.coupon-wrap .couponlist .item {
	margin-bottom: 15px;
	background-color: #FFF4F1;
	border: 1px solid #E6DDDA;
}
.coupon-wrap .couponlist .dis {
	background-color: #f2f2f2;
}
.coupon-wrap .couponlist .head {
	position: relative;
	padding: 10px 22px;
}
.coupon-wrap .couponlist .head .amount {
	float: left;
    color: #D12548;
    min-width: 60px;
    line-height: 46px;
    height: 46px;
}
.coupon-wrap .couponlist .head .amount em {
	font-style: normal;
	font-size: 16px;
}
.coupon-wrap .couponlist .head .amount span {
	margin-left: 4px;
	font-weight: bold;
	font-size: 28px;
}
.coupon-wrap .couponlist .head .condition {
    display: table;
    height: 46px;
    float: left;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}
.coupon-wrap .couponlist .head .condition .wrap {
	display: table-cell;
	vertical-align: middle;
}
.coupon-wrap .couponlist .head .condition .wrap p {
	margin: 0;
}
.coupon-wrap .couponlist .middle-line {
	position: relative;
    height: 0;
    font-size: 0;
    border-bottom: 1px dotted #D9D0CD;
}
.coupon-wrap .couponlist .middle-line .circular {
	content: '';
    position: absolute;
    top: 50%;
    width: 8px;
    height: 17px;
    margin-top: -9px;
    border: 1px solid #E6DDDA;
    background-color: #FFF;
}
.coupon-wrap .couponlist .middle-line .circular.left {
	left: -1px;
    border-left: none;
    -webkit-border-radius: 0 9px 9px 0;
    border-radius: 0 9px 9px 0;
}
.coupon-wrap .couponlist .middle-line .circular.right {
	right: -1px;
    border-right: none;
    -webkit-border-radius: 0 9px 9px 0;
    border-radius: 9px 0 0 9px;
}
.coupon-wrap .couponlist .middle-line .left:before {
	left: auto;
    right: 4px;
}
.coupon-wrap .couponlist .middle-line .left:before, .coupon-wrap .couponlist .middle-line .right:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 0;
    height: 18px;
    width: 17px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.coupon-wrap .couponlist .body {
	padding: 15px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666;
}
.coupon-wrap .couponlist .body .sorts {
	margin: 10px 0;
}
.coupon-wrap .couponlist .body p {
	margin: 0;
}
.coupon-wrap .couponlist .body p .more {
	display: block;
	text-decoration: none;
}
.coupon-wrap .couponlist .body p .glyphicon-menu-down {
	float: right;
	top: 4px;
}
.coupon-wrap .couponlist .head .dis, .coupon-wrap .couponlist .dis {
	color: #999;
}
.coupon-wrap .couponlist .body .btn {
	display: block;
    margin: 10px auto 0;
    padding: 0;
    width: 146px;
    font-size: 12px;
    border: 1px solid #D22147;
    color: #D22147;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 13px;
}

@media (max-width: 768px) {
	.top-header {
		height: 48px;
		border-bottom: 1px solid #ddd;
	}
	.top-header .logo {
		width: 40px;
		height: 40px;
		margin: 4px 0 0 4px;
		background: url(../images/logo/fnmil-mini.jpg) no-repeat 0 0/contain;
	}
	.top-header .search-wrap {
		top: 10px;
	}
	.top-header .search {
		width: 85%;
		padding: 5px 0 5px 30px;
		border: none;
		background-color: #ddd;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	}
	.top-header .search::-webkit-input-placeholder {
		color: #000;
	}
	.top-header .search::-moz-placeholder {
		color: #000;
	}
	.top-header .search::-ms-input-placeholder {
		color: #000;
	}
	.top-header .glyphicon-search{
		top: 10px;
		color: #000;
	}
	.top-header .top-search-btn {
		position: relative;
		top: 2px;
		right: 0;
		left: auto;
		padding: 6px 8px;
		font-size: 16px;
		color: #fff;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	}
	.top-menu {
		width: 100%;
		overflow: hidden;
		background-color: #fff;
	}
	.top-menu .menu-wrap {
		width: 600px;
		height: 38px;
		line-height: 36px;
		clear: both;
	}
	.top-menu .active {
		border-bottom: 4px solid #ed145b;
		background-color: #fff;
	}
	.top-menu .menu-wrap a {
		color: #000;
	}
	.tab-menu .tab-wrap {
		font-size: 14px;
	}
	.sign-top-menu .container {
		width: 100%;
	}
	.sign-top-menu ul {
		text-align: center;
	}
	.sign-top-menu li .logo {
		width: 80px;
		background: #fff url(../images/logo/fnmil.jpg) no-repeat 0 0/contain;
	}
	.tab-box .pro-mask img {
		height: 340px;
		margin-left: -350px;
	}
	.brand .wrap {
		height: auto;
		padding-bottom: 20px;
	}
	.order .wrap .order-btn {
		margin-left: 2px;
	}
	.evaluate {
		padding-bottom: 40px;
	}
	.evaluate .wrap {
		padding: 0;
	}
	.evaluate .main img {
		width: 100%;
	}
	.evaluate .side img {
		width: 100%;
	}
	.evaluate .side > a span {
		width: 100%;
	}
	.evaluate .side ul li {
		width: 100%;
	}

	.act-con-wrap .container {
		padding: 0;
	}
	.act-con-wrap article:nth-last-of-type(1) {
		margin-bottom: 20px;
	}
	.act-con-wrap .order-bar {
		margin: 0;
		border-top: none;
	}

	.cart-wrap .goods-wrap {
		border: none;
		background-color: #fff;
	}
	.cart-wrap .head {
		margin-bottom: 10px;
		padding: 12px 0 12px 10px;
		border-bottom: 1px solid #eaeaea;
	}
	.cart-wrap .head .col-xs-9 {
		padding-left: 5px;
	}
	.cart-wrap .goods {
		padding-left: 10px;
	}
	.cart-wrap .goods .col-xs-3, .cart-wrap .goods .col-xs-9, .cart-wrap .goods .col-xs-7, .cart-wrap .goods .col-xs-2 {
		padding-right: 0;
	}
	.cart-wrap .goods .col-xs-9 {
		padding-left: 20px;
	}
	.cart-wrap .goods .col-xs-7 {
		padding-left: 10px;
	}
	.cart-wrap .goods .col-xs-1, .cart-wrap .goods .col-xs-3 {
		padding-left: 0;
	}
	.cart-wrap .goods .good-info .box {
		width: 100%;
		text-align: left;
	}
	.cart-wrap .goods .info {
		height: auto;
		overflow: hidden;
		font-size: 12px;
	}
	.cart-wrap .goods .wrap {
		height: 64px;
	}
	.cart-wrap .goods .pri .wrap {
		vertical-align: top;
	}
	.cart-wrap .goods .wrap span {
		display: block;
		text-align: right;
	}
	.cart-wrap .goods .pri {
		padding-right: 15px;
	}
	.cart-wrap .goods .pri .wrap p {
		color: #999;
	}
	.cart-wrap .goods-info {
		padding: 0 0 10px 0;
	}
	.cart-wrap .goods-info span {
		display: block;
	}
	.cart-wrap .goods-box {
		margin-bottom: 10px;
	}
	.cart-wrap .goods .remove, .cart-wrap .goods .tax {
		position: absolute;
		top: -20px;
		right: 10px;
	}
	.cart-wrap .footer {
		padding: 0 0 10px 0;
	    border-bottom: 1px solid #eaeaea;
	}
	.cart-wrap .footer span {
		display: block;
	}
	.cart-wrap .footer b {
		display: inline-block;
		width: 32%;
	}
	.cart-wrap .footer em {
		display: inline-block;
		width: 23%;
	}

	.cart-wrap .total-box {
		position: fixed;
		bottom: 30px;
		margin: 0;
		padding: 10px 15px;
		width: 100%;
		height: auto;
	}
	.cart-wrap .total-box .side, .cart-wrap .total-box .all-goods {
		line-height: 30px;
	}
	.cart-wrap .total-box .wrap {
		margin-right: 60px;
	}
	.cart-wrap .total-box .wrap button {
		width: 60px;
		height: 50px;
		line-height: 50px;
		font-size: 16px;
	}
	.cart-wrap .total-box .all-goods em {
	    font: bold 16px 'Microsoft YaHei';
	}
	.cart-wrap .total-box .all-goods span {
		margin-left: 0;
	}
	.phone-top h2 {
		position: relative;
		margin: 0;
		padding: 10px 0;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 1px solid #eaeaea;
	}
	.my-wrap h2 {
		margin: 20px 0 0 0;
		padding: 10px 0;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		color: #fff;
		border-bottom: 1px solid #eaeaea;
		background-color: #999;
	}
	.my-wrap h3 {
		margin: 0;
		padding: 10px;
		font-size: 14px;
		border-bottom: 1px solid #eaeaea;
	}
	.my-wrap h3 > a {
		color: #000;
	}
	.my-wrap h3 > a span {
		float: left;
	}
	.my-wrap h3 em {
		float: right;
		color: #999;
		font-style: normal;
	}
	.my-wrap h3 em .glyphicon-menu-right {
		color: #000;
	}
	.my-wrap h3 > a .glyphicon-menu-right {
		float: right;
		color: #000;
	}
	.phone-top h2 span {
		position: absolute;
		right: 15px;
		padding-top: 2px;
		font-size: 14px;
		font-weight: normal;
	}
	.cart-wrap .total-box {
		margin-left: -15px;
	}
	
	.order-wrap .item > span {
		width: auto;
		float: none;
		text-align: left;
	}
	.order-wrap .item .dropdown {
		margin: 0;
		font-size: 12px;
	}
	.order-wrap .item .dropdown a {
		padding: 0 6px;
	}
	.order-wrap .item {
		margin: 0 -10px;
		padding: 0;
	}
	.order-wrap .item .dropdown {
		width: 100px;
	}
	.order-wrap .item .dropdown .dropdown-menu {
		min-width: 100px;
	}
	.order-wrap .item .dropdown .dropdown-menu li a {
		padding: 9px 0;
	}
	.order-wrap .item textarea, .order-wrap .item input {
		width: 100%;
		margin: 0;
	}
	.order-wrap .item p input {
		width: 90px;
		padding: 7px 5px;
	}
	.order-wrap .item p .phone {
		width: 100px;
	}
	.order-wrap .item-bottom {
		margin: 0;
		text-align: center;
	}
	.order-wrap .item-info {
		margin: 0 -10px;
	}
	.order-wrap .state-current {
		margin: 20px 0;
	}
	.order-wrap .item-info h3 {
		margin-left: 10px;
	}
	.order-wrap .item-info .content .wrap p {
		margin: 0 0 0 10px;
		font-size: 12px;
	}
	.order-wrap .item-info .content .wrap {
		height: auto;
	}
	.order-wrap .item-info .content {
		padding: 10px 0;
	}
	.order-wrap .item-info .bottom {
		padding: 10px;
	}
	.order-wrap .total-box {
		margin: 20px -10px 40px -10px;
		padding: 10px;
	}
	.order-wrap .sel-wrap .row {
		margin-top: 20px;
	}
	.order-wrap .adr-info .edit {
		left: auto;
		right: 0;
		margin: 0;
	}
	.order-wrap .adr-info .default-adr {
		position: absolute;
		left: 0;
		bottom: 8px;
	}
	.order-wrap .adr-info input[type=checkbox] {
		display: inline-block;
		width: 16px;
		height: 16px;
		background: url(../images/icon/checkbox.png) no-repeat 0 0px;
		-webkit-appearance: none;
		outline: none !important; 
	}
	.order-wrap .adr-info input:checked {
		background-position: 0 -16px;
	}
	.order-wrap .adr-info span {
		position: relative;
		bottom: 2px;
		left: 4px;
	}
	.order-wrap .sel-wrap > span {
		width: 100%;
	    padding: 0;
	    color: #d22147;
	    border: 1px solid #d22147;
	}

	.payway-wrap .logistics-wrap {
		margin-top: 0;
	}
	.payway-wrap .logistics-wrap, .payway-wrap .logistics-info, .payway-wrap .payInfo-wrap {
		padding: 20px 10px;
	}
	.payway-wrap .logistics-wrap h2 {
		font-size: 15px;
	}
	.payway-wrap .payInfo-wrap {
		margin-bottom: 30px;
	}

	.info-wrap .detail-wrap {
		margin-top: 0;
	}
	.info-wrap .detail-wrap .title {
		padding: 20px 0 20px 30px;
	}
	.info-wrap .deal-detail .wrap .title {
		width: 100%;
	}
	.info-wrap .deal-detail .wrap .title span {
		left: 0;
		width: 100%;
		margin: 0;
	}
	.info-wrap .deal-detail .wrap {
		padding: 0 0 30px 0;
	}
	.info-wrap .deal-detail .wrap #spsp .main {
		margin-bottom: 0;
	}
	.info-wrap .deal-detail .wrap .main {
		width: 100%;
	}

	.mylist {
		padding-bottom: 30px;
	}
	.mylist .main {
		padding: 0;
	}
	.mylist .tab, .coupon-wrap .tab {
		height: 42px;
		margin-bottom: 10px;
		text-align: justify;
	}
	.mylist .tab:after, .coupon-wrap .tab:after {
		content: '';
	    width: 100%;
	    display: inline-block;
	    font-size: 0;
	    line-height: 0;
	}
	.mylist .tab li, .coupon-wrap .tab li {
		display: inline-block;
		float: none;
		padding: 10px 0;
		font: bold 14px '微软雅黑','Helvetica Neue',sans-serif,SimHei;
	}
	.mylist .tab-content .listwrap {
		border: none;
	}
	.mylist .tab-content .header {
		padding: 10px;
		border-top: 1px solid #e8e8e8;
	}
	.mylist .tab-content .content .wrap {
		display: block;
		height: auto;
		margin-top: 20px;
		font-size: 12px;
	}
	.mylist .tab-content .content .wrap p {
		text-align: right;
	}
	.mylist .tab-content .content .box {
		border: none;
	}
	.mylist .tab-content .content img {
		padding: 10px 0;
	}
	.mylist .tab-content .header .status {
		float: right;
		margin: 0;
	}
	.mylist .tab-content .bottom  {
		padding: 10px 0;
		border-bottom: 1px solid #e8e8e8;
	}
	.mylist .tab-content .bottom p {
		margin: 0;
		text-align: right;
	}
	.mylist .tab-content .bottom p span {
		margin-left: 20px;
	}
	.mylist .tab-content .bottom p b {
		color: #d22147;
	}
	.mylist .tab-content .bottom p em {
		display: inline-block;
		margin-top: 10px;
		padding: 4px 6px;
		font-style: normal;
		border: 1px solid #999;
		border-radius: 4px;
	}
	.mylist {
		margin: 0;
	}

	.coupon-wrap .main {
		padding: 0;
	}
	.coupon-wrap .main .coupon-use {
	    margin-bottom: 20px;
	}
	.coupon-wrap .main .btn-red40 {
		margin-top: 20px;
	}

	.brand-banner {
		margin-top: 20px;
	}

	.phone-top {
		background-color: #fff;
	}

}